

/* For phones-max-width:300px.*/
@media(max-width:300px){


/* Note - Do not set their position to keep them in one by one order. */
body{
    margin: 0px;
    padding: 0px;
    font-family:'Baloo Bhai 2', Segoe UI;
    font-weight: 600;
    font-size: 10px;
    overflow-x: hidden; 
}

/* Homepage- */
#Home{
    text-decoration: overline;
    color: white;
}

/* header- */
header{
    /* position: absolute; */
    /* border: 2px solid black; */
    /* background: rgb(0, 124, 255); */
    background: url('/Images/Untitled2.png') center center/cover;
    height: 362px;
    width: 101vw;
    color: white;
    font-size: 28px;
    overflow: hidden;
}

header span{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 64vw;
    text-align: center;
}

header span p{
    font-size: 11px;
    margin-left: 2px;
}

#search{
    height: 6px;
    width: 157px;
    border: none;
    border-radius: 30px;
    color: rgb(0, 119, 255);
    font-family: 'Baloo Bhai 2', Segoe UI;
    font-weight: 600;
    font-size: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

#searchli{
    position: absolute;
    background: rgb(0, 119, 255);
    width: 100vw;
    z-index: 10;
    text-align: start;
    padding: 0px 44px;
    display: none;
}

a{
    color: white;
    text-decoration: none;
}
/* a:hover{
    color: black;
} */
/* nav- */
nav{
    position: fixed;
    top: 0px;
    left: -28px;
    /* border: 2px solid black; */
    height: 30px;
    width: 100vw;
    background: rgb(0, 119, 255);
    padding: 13px 10px 0px 51px;
    z-index: 5;
}

/* secondheader- */
.secondheader{
    /* position: absolute; */
    top: 340px;
    border: 2px solid black;
    height: 254px;
    width: 100vw;
    color: rgb(0, 119, 255);
    z-index: 2;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    margin-left: -2px;
}

.secondheader h1{
    position: absolute;
    right: 10vw;
    text-decoration: underline;
    /* border: 2px solid black; */
    font-size: 31px;
}

.secondheader p{
    position: absolute;
    right: 22px;
    width: 64vw;
    margin-top: 83px;
    text-align: center;
}

/* loading- */
#loader{
    position: fixed;
    top: 0;
    left: -10px;
    width: 106%;
    height: 100%;
    background: #19243C;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* Its color is #18233b. */
} 

.loaderhidden{
    animation: Fadeout 1s linear infinite;
    animation-fill-mode: forwards;
    width: 0px;
    height: 0px;
}

@keyframes Fadeout {
    100%{
        opacity: 0;
    }
}

#homecreator{
    border: 2px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
    margin-top: 10px;
}

#homecreator:hover{ 
    background: white;
    color: rgb(0, 76, 255);
}

/* app- */
.app{
    /* position: absolute; */
    top: 723px;
    width: 100vw;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    /* height: 100px; do not set to make it height more whenever required. */
    /* border: 2px solid black; */
    padding-bottom: 15px;
}

.app h1{
    text-decoration: underline;
    margin: 8px 19px;
    color: rgb(0, 119, 255);
}

.app p{
    margin: 8px 19px;
    color: rgb(0, 119, 255);
}

#apk{
    background: rgb(0, 119, 255);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
}

#apk:hover{
    border: 2px solid rgb(0, 119, 255);
    background: white;
    color: rgb(0, 119, 255);
}

#apkimages{
    border: 2px solid black;
    border-radius: 20px;
    width: 99vw;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
}

/* webdev- */
.webdev{
    /* position: absolute; */
    top: 340px;
    border: 2px solid black;
    height: 254px;
    width: 100vw;
    color: rgb(0, 119, 255);
    z-index: 2;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    margin-left: -2px;
    margin-bottom: 8px;
}

.webdev h1{
    position: absolute;
    right: 10vw;
    text-decoration: underline;
    /* border: 2px solid black; */
    font-size: 25px;
}

.webdev p{
    position: absolute;
    right: 22px;
    width: 64vw;
    margin-top: 83px;
    text-align: center;
}

#call{
    position: relative;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 6px;
    background: rgb(0,119,255);
    color: white;
    padding: 0px 20px;
    top: 7px;
}

#call:hover{
    background: white;
    color: rgb(0, 119, 255);
}

#seeallgames{ 
    border: 2px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
    margin-left: 15vw;
}

#seeallgames:hover{
    background: white;
    color: rgb(0, 119, 255);
}

/* footer- */
footer{
    z-index: 5; /*for animation.*/
    width: 100vw;
    border: 2px solid black;
    background: rgb(0, 119, 255);
    font-size: 9px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin-top: 8px;
    margin-left: -2px;
}

.footeranchor{
    margin: 5px;
    /* border: 2px solid black; */
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    color: rgb(0,119,255);
}

.footeranchor:hover{
    background: rgb(0, 81, 173);
    color: white;
}

}

/* For phones- min-width:300px and max-width:450px.*/
@media(min-width:300px) and (max-width:450px){


/* Note - Do not set their position to keep them in one by one order. */
body{
    margin: 0px;
    padding: 0px;
    font-family:'Baloo Bhai 2', Segoe UI;
    font-weight: 600;
    font-size: 13px;
    overflow-x: hidden; 
}

/* Homepage- */
#Home{
    text-decoration: overline;
    color: white;
}

/* header- */
header{
    /* position: absolute; */
    /* border: 2px solid black; */
    /* background: rgb(0, 124, 255); */
    background: url('/Images/Untitled2.png') center center/cover;
    height: 340px;
    width: 101vw;
    color: white;
    font-size: 31px;
    overflow: hidden;
}

header span{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 64vw;
    text-align: center;
}

header span p{
    font-size: 12px;
    margin-left: 2px;
}

#search{
    height: 15px;
    width: 211px;
    border: none;
    border-radius: 30px;
    color: rgb(0, 119, 255);
    font-family:'Baloo Bhai 2', Segoe UI;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

#searchli{
    position: absolute;
    background: rgb(0, 119, 255);
    width: 100vw;
    z-index: 10;
    text-align: start;
    padding: 0px 44px;
    display: none;
}

a{
    color: white;
    text-decoration: none;
}
/* a:hover{
    color: black;
} */
/* nav- */
nav{
    position: fixed;
    top: 0px;
    left: -28px;
    /* border: 2px solid black; */
    height: 30px;
    width: 100vw;
    background: rgb(0, 119, 255);
    padding: 13px 10px 0px 51px;
    z-index: 5;
}

/* secondheader- */
.secondheader{
    /* position: absolute; */
    top: 340px;
    border: 2px solid black;
    height: 254px;
    width: 100vw;
    color: rgb(0, 119, 255);
    z-index: 2;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    margin-left: -2px;
}

.secondheader h1{
    position: absolute;
    right: 10vw;
    text-decoration: underline;
    /* border: 2px solid black; */
    font-size: 31px;
}

.secondheader p{
    position: absolute;
    right: 22px;
    width: 64vw;
    margin-top: 83px;
    text-align: center;
}

/* loading- */
#loader{
    position: fixed;
    top: 0;
    left: -10px;
    width: 106%;
    height: 100%;
    background: #19243C;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* Its color is #18233b. */
} 

.loaderhidden{
    animation: Fadeout 1s linear infinite;
    animation-fill-mode: forwards;
    width: 0px;
    height: 0px;
}

@keyframes Fadeout {
    100%{
        opacity: 0;
    }
}

#homecreator{
    border: 2px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
    margin-top: 10px;
}

#homecreator:hover{ 
    background: white;
    color: rgb(0, 76, 255);
}

/* app- */
.app{
    /* position: absolute; */
    top: 723px;
    width: 100vw;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    /* height: 100px; do not set to make it height more whenever required. */
    /* border: 2px solid black; */
    padding-bottom: 15px;
}

.app h1{
    text-decoration: underline;
    margin: 8px 19px;
    color: rgb(0, 119, 255);
}

.app p{
    margin: 8px 19px;
    color: rgb(0, 119, 255);
}

#apk{
    background: rgb(0, 119, 255);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
}

#apk:hover{
    border: 2px solid rgb(0, 119, 255);
    background: white;
    color: rgb(0, 119, 255);
}

#apkimages{
    border: 2px solid black;
    border-radius: 20px;
    width: 99vw;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
}

/* webdev- */
.webdev{
    /* position: absolute; */
    top: 340px;
    border: 2px solid black;
    height: 254px;
    width: 100vw;
    color: rgb(0, 119, 255);
    z-index: 2;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    margin-left: -2px;
    margin-bottom: 8px;
}

.webdev h1{
    position: absolute;
    right: 10vw;
    text-decoration: underline;
    /* border: 2px solid black; */
    font-size: 31px;
}

.webdev p{
    position: absolute;
    right: 22px;
    width: 64vw;
    margin-top: 83px;
    text-align: center;
}

#call{
    position: relative;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 6px;
    background: rgb(0,119,255);
    color: white;
    padding: 0px 20px;
    top: 7px;
}

#call:hover{
    background: white;
    color: rgb(0, 119, 255);
}

#seeallgames{ 
    border: 2px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
    margin-left: 15vw;
}

#seeallgames:hover{
    background: white;
    color: rgb(0, 119, 255);
}

/* footer- */
footer{
    z-index: 5; /*for animation.*/
    width: 100vw;
    border: 2px solid black;
    background: rgb(0, 119, 255);
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin-top: 8px;
    margin-left: -2px;
}

.footeranchor{
    margin: 5px;
    /* border: 2px solid black; */
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    color: rgb(0,119,255);
}

.footeranchor:hover{
    background: rgb(0, 81, 173);
    color: white;
}

}

/* For tablets, pc and laptops- min-width:450px.*/
@media(min-width:450px){


/* Note - Do not set their position to keep them in one by one order. */
body{
    margin: 0px;
    padding: 0px;
    font-family:'Baloo Bhai 2', Segoe UI;
    font-weight: 600;
    font-size: 20px;
    overflow-x: hidden;
}

/* Homepage- */
#Home{
    text-decoration: overline;
    color: white;
}

/* header- */
header{
    /* position: absolute; */
    /* border: 2px solid black; */
    /* background: rgb(0, 124, 255); */
    background: url('/Images/Untitled.png') center center/cover;
    height: 380px;
    width: 101vw;
    color: white;
    font-size: 50px;
    overflow: hidden;
}
 
header span{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 64vw;
    text-align: center;
}

header span p{
    font-size: 15px;
    margin-left: 2px;
}

#search{
    height: 15px;
    width: 311px;
    border: none;
    border-radius: 30px;
    color: rgb(0, 119, 255);
    font-family:'Baloo Bhai 2', Segoe UI;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

#searchli{
    position: absolute;
    background: rgb(0, 119, 255);
    width: 100vw;
    z-index: 10;
    text-align: start;
    padding: 0px 44px;
    display: none;
}

a{
    color: white;
    text-decoration: none;
}
/* a:hover{
    color: black;
} */
/* nav- */
nav{
    position: fixed;
    top: 0px;
    /* border: 2px solid black; */
    height: 50px;
    width: 100vw;
    background: rgb(0, 119, 255);
    padding: 13px 10px 0px 51px;
    z-index: 5;
}

/* secondheader- */
.secondheader{
    /* position: absolute; */
    top: 340px;
    border: 2px solid black;
    height: 379px;
    width: 100vw;
    color: rgb(0, 119, 255);
    z-index: 2;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    margin-left: -2px;
}

.secondheader h1{
    position: absolute;
    right: 10vw;
    text-decoration: underline;
    /* border: 2px solid black; */
    font-size: 50px;
}

.secondheader p{
    position: absolute;
    right: 22px;
    width: 64vw;
    margin-top: 113px;
    text-align: center;
}

/* loading- */
#loader{
    position: fixed;
    top: 0;
    left: -10px;
    width: 106%;
    height: 100%;
    background: #19243C;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* Its color is #18233b. */
} 

.loaderhidden{
    animation: Fadeout 1s linear infinite;
    animation-fill-mode: forwards;
    width: 0px;
    height: 0px;
}

@keyframes Fadeout {
    100%{
        opacity: 0;
    }
}

#homecreator{
    border: 2px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 10px;
    padding: 0px 10px;
    margin-top: 10px;
}

#homecreator:hover{ 
    background: white;
    color: rgb(0, 76, 255);
}

/* mostplayedgames- */
.app{
    /* position: absolute; */
    top: 723px;
    width: 100vw;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    /* height: 100px; do not set to make it height more whenever required. */
    /* border: 2px solid black; */
    padding-bottom: 15px;
}

.app h1{
    text-decoration: underline;
    margin: 8px 19px;
    color: rgb(0, 119, 255);
}

.app p{
    margin: 8px 19px;
    color: rgb(0, 119, 255);
}

#apk{
    background: rgb(0, 119, 255);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 35px;
}

#apk:hover{
    border: 2px solid rgb(0, 119, 255);
    background: white;
    color: rgb(0, 119, 255);
}

#apkimages{
    border: 2px solid black;
    border-radius: 20px;
    width: 450px;
    height: 250px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

/* webdev- */
.webdev{
    /* position: absolute; */
    top: 340px;
    border: 2px solid black;
    height: 379px;
    width: 100vw;
    color: rgb(0, 119, 255);
    z-index: 2;
    background: url('/Images/secondheaderbackground2.png')center center /cover;
    margin-left: -2px;
    margin-bottom: 8px;
}

.webdev h1{
    position: absolute;
    right: 10vw;
    text-decoration: underline;
    /* border: 2px solid black; */
    font-size: 50px;
}

.webdev p{
    position: absolute;
    right: 22px;
    width: 64vw;
    margin-top: 113px;
    text-align: center;
}

#call{
    position: relative;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 10px;
    background: rgb(0,119,255);
    color: white;
    padding: 0px 20px;
    top: 10px;
}

#call:hover{
    background: white;
    color: rgb(0, 119, 255);
}

#seeallgames{
    border: 2px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 10px;
    padding: 0px 10px;
    margin-left: 15vw;
}

#seeallgames:hover{
    background: white;
    color: rgb(0, 119, 255);
}

/* footer- */
footer{
    z-index: 5; /*for animation.*/
    width: 100vw;
    border: 2px solid black;
    background: rgb(0, 119, 255);
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin-top: 8px;
    margin-left: -2px;
}

.footeranchor{
    margin: 5px;
    /* border: 2px solid black; */
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    color: rgb(0,119,255);
}

.footeranchor:hover{
    background: rgb(0, 81, 173);
    color: white;
}

}